.card {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  background-color: #707070;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
}

.card__portrait {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.card__info {
  display: grid;
  grid-auto-flow: row;
  padding: 30px;
}

.card__name {
  text-align: center;
}
