.card {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  background-color: #535353;
  padding: 1em;
  border-radius: 10px;
}

.card__portrait {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.card__info {
  display: grid;
  grid-auto-flow: row;
  padding: 20px;
  color: rgb(161, 161, 161);
  background-color: rgb(46, 46, 46);
}

.card__name {
  color: #fff;
  text-align: center;
}

.card__status {
}

@media (max-width: 414px) {
  .card {
    grid-template: 1fr / 1fr;
  }
}
